services:
  - type: web
    name: web-ia07-react-auth-backend
    runtime: docker
    repo: https://github.com/mquangcao/web-ia07-react-auth
    buildFilter:
      paths:
        - apps/api/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/api/Dockerfile

  - type: web
    name: web-ia07-react-auth
    runtime: docker
    repo: https://github.com/mquangcao/web-ia07-react-auth
    buildFilter:
      paths:
        - apps/web/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/web/Dockerfile
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          name: web-ia07-react-auth-backend
          type: web
          property: host
version: '1'
