services:
  - type: web
    name: turborepo-backend
    runtime: docker
    repo: https://github.com/mquangcao/<>
    buildFilter:
      paths:
        - apps/api/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/api/Dockerfile

  - type: web
    name: turborepo-frontend
    runtime: docker
    repo: https://github.com/mquangcao/<>
    buildFilter:
      paths:
        - apps/web/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/web/Dockerfile
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          name: turborepo-backend
          type: web
          property: host
version: '1'
